<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sbin</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="antialiased text-gray-900">
    <header class="bg-orange-200 p-2 rounded">
      Header 1


      <%= if Pow.Plug.current_user(@conn) do %>
        <span><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), 
      method: :delete, class: 'text-blue-600 underline' %></span>
      <% else %>
        <span><%= link "Register", to: Routes.pow_registration_path(@conn, :new),
      class: 'text-blue-600 underline'%></span>
        <span><%= link "Sign in", to: Routes.pow_session_path(@conn, :new),
      class: 'text-blue-600 underline'%></span>
      <% end %>


    </header>
    <main role="main" class="container mx-auto">
      <%= if get_flash(@conn, :info) != nil do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) != nil do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
